<div class="card mt-5">
  <div class="card-body">
    <h4>Leave comment</h4>
    <p>Use comment form to leave comment</p>
    <form action="">
      <div class="form-group">
        <label for="">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Enter your name here"
        />
      </div>
      <div class="form-group">
        <label for="">Comment</label>
        <textarea
          name="comment"
          class="form-control"
          id="comment"
          cols="30"
          rows="10"
          placeholder="Comment"
        ></textarea>
      </div>

      <button class="btn btn-info btn-theme">Add comment</button>
    </form>
  </div>
</div>
