<div class="card my-5 pb-5 shadow-effect">
  <div class="card-body">
    <h4 class="my-3">Comments</h4>
    <div class="comment-box mt-3">
      <h6 class="mb-0">John</h6>
      <small class="text-danger">Last update</small>
      <div class="my-3">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. At, dolor.
      </div>
      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ml-3">View Reply </a>
      <hr />
    </div>
    <div class="comment-box mt-3">
      <h6 class="mb-0">John</h6>
      <small class="text-danger">Last update</small>
      <div class="my-3">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. At, dolor.
      </div>
      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ml-3">View Reply </a>
      <hr />
    </div>
    <div class="comment-box mt-3">
      <h6 class="mb-0">John</h6>
      <small class="text-danger">Last update</small>
      <div class="my-3">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. At, dolor.
      </div>
      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1 ml-3">View Reply </a>
      <hr />
    </div>
  </div>
</div>
